<!-- <div class="container">
    <div class="loan">
        <div class="principle mb-4">
            <div>
                <label for="principle_amount" class="form-label mx-3">principle Amount</label>
            </div>
            <div>
                <input type="text" class="form-control" name="" id="principle_amount" placeholder=""
                    class="w-100 justify-content-start" #pAmount>
            </div>
        </div>
        <div class=" principle mb-4">

            <div>
                <label for="duration" class="form-label mx-3">Duration</label>
            </div>
            <div>
                <input type="text" class="form-control" name="" id="duration" placeholder="" class="w-25" #duration>
            </div>

        </div>
        <div class="mb-3">
            <label for="loan_type" class="form-label mx-3">Type Of Loan</label>
            <select class="form-control" name="" id="loan_type" class="w-25" #loanType>
                <option value="7">home loan</option>
                <option value="8">vehicle loan</option>
                <option value="10">personal loan</option>
            </select>
        </div>
        <div>
            <button type="text" class="btn btn-success mx-4"
                (click)="calculateValue(pAmount.value, duration.value, loanType.value)">calculate</button>
            <button type="text" class="btn btn-primary">EMI</button>
            <button type="text" class="btn btn-primary mx-3" (click)="reset()">Reset</button> -->
            <!-- (click) = "emiValue(pAmount.value, duration.value, loanType.value)" -->
            <!-- <div class="payment">
                <div class="emi">
                    <h3>Monthly EMI : <span>&#8377;</span>{{ emi }}</h3>
                </div>
                <div class="total">
                    <h3>Total Amount: <span>&#8377;</span>{{ total }}</h3>
                </div>
                <div>
                    <a href="#add account"> addaccount</a>
                </div>
            </div>
        </div>
    </div>
</div> -->